<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">

    <bean id="listener"
          class="org.springframework.amqp.remoting.service.AmqpInvokerServiceExporter">
        <property name="serviceInterface" value="spring.remoting.xml.Echo" />
        <property name="service" ref="service" />
        <property name="amqpTemplate" ref="template" />
    </bean>

    <bean id="service" class="spring.remoting.xml.EchoImp" />

    <rabbit:connection-factory id="connectionFactory" host="192.168.99.100" port="32769" password="guest" username="guest" />

    <rabbit:template id="template" connection-factory="connectionFactory" />

    <rabbit:queue name="myqueue" />

    <rabbit:listener-container connection-factory="connectionFactory">
        <rabbit:listener ref="listener" queue-names="myqueue" />
    </rabbit:listener-container>

</beans>